<table>
	<tr>
		<th></th>
		<th>`aiohttp`</th>
		<th>`Flask`</th>
		<th>% difference</th>
	</tr>
	<tr>
		<td>Development server (Requests/sec)</td>
		<td>2023.08</td>
		<td>721.92</td>
		<td>180.24</td>
	</tr>
	<tr>
		<td>`gunicorn` (Requests/sec)</td>
		<td>2396.24</td>
		<td>1041.30</td>
		<td>130.12</td>
	</tr>
	<tr>
		<td>% increase over development server</td>
		<td>18.45</td>
		<td>44.24</td>
		<td>-27.81</td>
	</tr>
	<tr>
		<td>`gunicorn -w 4` (Requests/sec)</td>
		<td>2541.97</td>
		<td>1729.17</td>
		<td>47.01</td>
	</tr>
	<tr>
		<td>% increase over development server</td>
		<td>25.65</td>
		<td>139.52</td>
		<td>-73.92</td>
	</tr>
</table>